name: Sync to Lab Repository

on:
  push:
    branches:
      - main

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Lab Repo
        env:
          MY_TOKEN: ${{ secrets.LAB_REPO_TOKEN }}
        run: |
          # 动态拼接地址
          REMOTE_URL="https://x-access-token:${MY_TOKEN}@github.com/JHU-NI-LAB/OpenLPT_GUI.git"
          
          # 确保此时没有残留的 lab 远程
          git remote remove lab 2>/dev/null || true
          
          git remote add lab "$REMOTE_URL"
          
          # 推送并强制同步分支
          git push lab main --force